<div class="navbar bg-base-100 shadow-lg fixed top-0 z-50">
  <div class="navbar-start">
    <a class="btn btn-ghost text-xl font-bold">AkeUs</a>
  </div>

  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a href="#about" class="hover:text-primary transition-colors">Inicio</a></li>
      <li><a href="#experience" class="hover:text-primary transition-colors">Experiencia</a></li>
    </ul>
  </div>

  <div class="navbar-end">
    <!-- button className="btn btn-outline btn-primary">Download CV</button -->
  </div>
</div>
